cffi==1.14.0
cryptography==2.8
hawkauthlib==2.0.0
idna==2.9
ipaddress==1.0.23
mohawk==1.1.0
pyasn1==0.4.8
PyBrowserID==0.14.0
pycparser==2.20
PyFxA==0.7.3
requests==2.23.0
requests-hawk==1.0.1
six==1.14.0
WebOb==1.8.6
